<div id="<%= dom_id client %>">
  <p>
    <strong>Nom complet:</strong>
    <%= client.nom_complet %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= client.adresse %>
  </p>

  <p>
    <strong>Ville:</strong>
    <%= client.ville %>
  </p>

  <p>
    <strong>Code postal:</strong>
    <%= client.code_postal %>
  </p>

  <p>
    <strong>Num siret:</strong>
    <%= client.num_siret %>
  </p>

</div>
