<style>
  .card {
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .card-header {
    background-color: #004aad;
    color: white;
    border-radius: none;
  }
</style>

<h1>Clients</h1>
<% @clients.each do |client| %>
  <div class="card">
    <h5 class="card-header"><%= client.nom_complet%></h5>
    <div class="card-body">Adresse: <%= "#{client.adresse}, #{client.ville}" %></h5>
      <p class="card-text">Numéro de siret: <%= client.num_siret %></p>
      <%= link_to "Voir", admin_client_path(client), class: "btn btn-sm btn-primary" %>
      <%= link_to "Éditer", edit_admin_client_path(client), class: "btn btn-sm btn-primary" %>
      <%= link_to "Supprimer", admin_client_path(client), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce client ?' }, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>

<%= link_to "Ajouter un client", new_admin_client_path, class: "btn btn-primary" %>
