<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Devis <%= @devi.id %></title>
  <style>
    body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
    .header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      position: relative; /* Ajout pour le logo */
    }
    .header .logo {
      width: 100px;
      position: absolute;
      top: 10px;
      left: 0;
    }
    .header .company-info, .header .client-info {
      width: 40%;
    }
    .company-info {
      top: 150px;
      left: 0;
      text-align: left;
      position: absolute;
    }
    .client-info {
      margin-top: 250px;
      text-align: right;
      position: absolute;
      right: 0;
    }
    .container {
      margin-top: 400px;
      margin-bottom: 0;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    .totals {
      page-break-inside: avoid;
      margin-top: 20px;
      width: 100%;
      border-collapse: collapse;
    }
    .totals td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    .devis-info p {
      margin: 0;
      padding: 2px 0; /* Réduit l'espacement entre les lignes */
      font-weight: bold; /* Met le texte en gras */
    }
  </style>

<body>
  <div class="header">
    <% if @devi.provider.logo %>
      <% image_data = Base64.encode64(@devi.provider.logo.download.read) %>
      <% image_base64 = "data:image/jpg;base64,#{image_data}" %>
      <img src="<%= image_base64 %>" alt="Logo" class="logo">
    <% end %>

    <div class="company-info">
      <h3>AU NOM ET POUR LE COMPTE DE:</h3>
      <p>
        <%= @devi.provider.name %><br>
        <%= @devi.provider.address %><br>
        <%= @devi.provider.postal_code %> <%= @devi.provider.city %><br>
        <% if @devi.provider.num_siret.present? %> Numéro SIRET: <%= @devi.provider.num_siret %><br> <% end %>
      </p>
    </div>
    <div class="client-info">
      <h3>ADRESSÉ À:</h3>
      <p>
        <%= @devi.client.nom_complet %><br>
        <%= @devi.client.adresse %><br>
        <%= @devi.client.code_postal %> <%= @devi.client.ville %><br>
        <% if @devi.client.num_siret.present? %>
          Numéro SIRET: <%= @devi.client.num_siret %><br>
        <% end %>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="devis-info">
      <p>Numéro de devis: <%= @devi.number %></p>
      <p>Numéro de client: <%= @devi.client.id %></p>
      <p>Date: <%= @devi.created_at.strftime("%d/%m/%Y") %></p>
    </div>
    <h3>PRESTATIONS:</h3>
    <table>
      <thead>
        <tr>
          <th>Détail</th>
          <th>Quantité</th>
          <th>Prix unitaire (HT)</th>
          <th>Unité</th>
          <th>TOTAL (HT)</th>
        </tr>
      </thead>
      <tbody>
        <% @devi.items.each do |item| %>
        <tr>
          <td><%= item.detail %></td>
          <td><%= item.quantite %></td>
          <td><%= Money.new(item.prix_unitaire_ht, "EUR").format %></td>
          <td><%= item.unite %></td>
          <td><%= Money.new(item.total_ht, "EUR").format %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <table class="totals">
      <thead>
        <tr>
          <th>Totaux</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>TOTAL PRESTATION (HT)</td>
          <td style="text-align: right;"><%= Money.new(@devi.items.sum(:total_ht), "EUR").format %></td>
        </tr>
        <% unless @devi.liquidation_tva %>
          <tr>
            <td>TVA (<%= @devi.tva %>%)</td>
            <td style="text-align: right;"><%= Money.new(@devi.total_ttc - @devi.items.sum(:total_ht), "EUR").format %></td>
          </tr>
          <tr>
            <td>TOTAL PRESTATION (TTC)</td>
            <td style="text-align: right;"><%= Money.new(@devi.total_ttc, "EUR").format %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>
