<%= simple_form_for([:admin, facture], html: { id: "form-facture", class: "needs-validation", novalidate: "" }) do |form| %>
  <div class="form-group mt-3">
    <div class="col-sm-6">
      <%= form.input :client_id, collection: Client.all, label_method: :nom_complet, value_method: :id, include_blank: true, label: "Client", input_html: { class: "form-control" } %>
    </div>
  </div>

  <div data-controller="toggle-field">
    <div class="form-group mt-3">
      <div class="col-sm-6">
        <%= form.label :liquidation_tva, "Autoliquidation de la TVA", class: "form-label" %>
        <%= form.check_box :liquidation_tva, class: "form-check-input", data: { toggle_field_target: "checkbox", action: "change->toggle-field#toggleTVA" } %>
      </div>
    </div>
    <div class="form-group mt-3" data-toggle-field-target="tva">
      <div class="col-sm-6">
        <%= form.input :tva, label: "TVA (%)", input_html: { class: "form-control", min: 0, step: "any" } %>
      </div>
    </div>
  </div>




  <div class="form-group mt-3">
    <div class="col-sm-6">
      <%= form.label :status, "Statut", class: "form-label" %>
      <%= form.select :status, Facture.statuses.keys.map { |statut| [statut.titleize, statut] }, { include_blank: "Séléctionner un statut" }, { class: "form-select" } %>
    </div>
  </div>

  <h3 class="text-xl mt-4">Items</h3>
  <div class="my-2" data-controller="nested-rondo" data-nested-rondo-field-class-value="item-field">
    <div data-nested-rondo-target="fieldContain">
      <%= form.simple_fields_for :items do |item_form| %>
        <%= render 'item_fields', f: item_form %>
      <% end %>
    </div>
    <div class="links">
      <%= link_to_add_association "Ajouter un item", form, :items, partial: 'item_fields', class: "btn btn-info" %>
    </div>
  </div>

  <div class="form-group mt-3">
    <div class="col-sm-6">
      <%= form.button :submit, "Envoyer", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
