<style>
  .card {
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .card-header {
    background-color: #004aad;
    color: white;
    border-radius: none;
  }
</style>

<h1>Utilisateurs</h1>

 <% @users.each do |user| %>
  <div class="card">
    <h5 class="card-header"><%= "#{user.firstname} #{user.lastname}"%></h5>
    <div class="card-body"><%= user.email %></h5>
      <p class="card-text"><%= user.role.titleize %></p>
      <%= link_to 'Voir', [:admin, user], class: "btn btn-sm btn-primary" %>
      <%= link_to 'Éditer', edit_admin_user_path(user), class: "btn btn-sm btn-primary" %>
      <%= link_to 'Supprimer', admin_user_path(user), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cet utilisateur ?' }, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>

<%= link_to 'Ajouter un utilisateur', new_admin_user_path, class: "btn btn-primary" %>
